<a href="https://colab.research.google.com/github/OrJaku/Neural_Network/blob/master/Softmax_func.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Softmax function

In [0]:
import numpy as np 
import pandas as pd #Frames and table libery
import matplotlib.pyplot as plt #Plot libery
import seaborn as sns #Plot theme libery
sns.set()

In [0]:
data = np.random.randn(4,7)
df = pd.DataFrame(data)

In [3]:
df

          0         1         2         3         4         5         6
0  1.246763  0.861188 -0.211153  0.478904 -0.755794  0.431530  0.400092
1  0.140086  0.281864 -0.341608  0.178069  0.280885  0.814411 -0.159167
2  1.046156  0.502360  0.329517  1.010573 -0.758258 -0.037114  0.279826
3 -1.225553  1.416636  1.588070  0.978134 -0.798728 -0.884429  0.116935

In [4]:
softmax = np.exp(df) / np.sum(np.exp(df), axis=0)
softmax
#axis 0 = rows
#axis 1 = columns

          0         1         2         3         4         5         6
0  0.447772  0.249907  0.103737  0.196486  0.173150  0.297568  0.311360
1  0.148059  0.140017  0.091049  0.145439  0.488254  0.436385  0.177983
2  0.366382  0.174558  0.178132  0.334374  0.172724  0.186233  0.276078
3  0.037787  0.435518  0.627082  0.323701  0.165873  0.079813  0.234579