<a href="https://colab.research.google.com/github/OrJaku/Neural_Network/blob/master/Softmax_func.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Softmax function

In [0]:
import numpy as np 
import pandas as pd #Frames and table libery
import matplotlib.pyplot as plt #Plot libery
import seaborn as sns #Plot theme libery
sns.set()

In [0]:
data = np.random.randn(4,7)
df = pd.DataFrame(data)

In [15]:
df

          0         1         2         3         4         5         6
0  1.617708  0.618596  0.607190 -0.163423  0.796499  0.883259 -0.575916
1 -0.405818  0.536543  1.707061  0.536817  2.059919  0.323481 -0.305809
2  0.774837 -0.617057  0.941130  1.044178  0.462819  1.841418 -0.155783
3  0.111958 -1.575902  0.381902 -2.494584 -1.181905  0.123092  0.353725

In [20]:
softmax = np.exp(df) / np.sum(np.exp(df), axis=0)
softmax

          0         1         2         3         4         5         6
0  0.560377  0.430426  0.161329  0.154874  0.185457  0.215247  0.157088
1  0.074075  0.396518  0.484596  0.311952  0.656056  0.122979  0.205801
2  0.241227  0.125101  0.225289  0.518123  0.132840  0.561127  0.239113
3  0.124320  0.047956  0.128787  0.015051  0.025647  0.100647  0.397997

In [0]:
np.sum(softmax)